<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nxtty.main"
    android:installLocation="preferExternal"
    android:versionCode="12"
    android:versionName="1.0.9" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="20" />

    <!-- GCM -->
    <permission
        android:name="com.nxtty.main.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.nxtty.main.permission.C2D_MESSAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
     <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
     <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
     
    
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
   
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
   

    
         <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
   

    <application
        android:name="com.nxtty.main.Application"
        android:allowBackup="true"
        android:icon="@drawable/logo_app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:noHistory="false"
        android:theme="@style/AppTheme" >

        <!--<meta-data-->
        <!--android:name="com.google.android.gms.version"-->
        <!--android:value="@integer/google_play_services_version" />-->

        <activity
            android:name="com.nxtty.main.SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="Verify"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="Dashboard"
            android:configChanges="orientation|screenSize|screenLayout"
        
            android:noHistory="false"
            android:windowSoftInputMode="adjustPan" 
        
            >
        </activity>
        <activity
            android:name="MainActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.nxtapp.fragment.FriendsReqActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.nxtapp.fragment.InvitesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.nxtapp.fragment.BlockListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name="com.nxtapp.fragment.Chat2Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".GroupDetailCreatePost"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".GroupDetailAddComment"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.nxtapp.fragment.TempActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="eu.janmuller.android.simplecropimage.CropImage"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.nxtapp.fragment.GroupDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.nxtapp.fragment.GroupSettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.nxtapp.fragment.CommentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.nxtapp.fragment.AddGroup"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.nxtty.main.CallScreenActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nxtapp.fragment.LeaderBoardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.nxtty.main.IncomingCallScreenActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aniways.billing.AniwaysCreditsStoreActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Aniways.Transparent" />
        <activity
            android:name="com.nxtapp.utils.CropperImageActivity"
            android:noHistory="true" />
        <activity
            android:name="com.nxtapp.fragment.GroupSearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <service android:name="com.nxtty.main.GCMIntentService" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.nxtty.main" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.nxtty.main.GetNewDataService"
            android:enabled="true" >
        </service>

        <activity
            android:name="com.nxtty.main.ImageViewDisplay"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>